/* add your css styles here! */
body {
	width: 1500px;
	max-width: 100%;
	padding: 0 2rem;
	margin: 0 auto;
    background: url('../images/backgroundSV.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.navbar navbar-expand-lg bg-light {
    font-family: 'Press Start 2P', cursive;

}

nav {
    align-content: center;
    max-width: 100%;
	padding: 0 2rem;
	margin: 0 auto;
}

.navbar-brand {
    font-family: 'Press Start 2P', cursive;
    text-align: left;
    align-items:center
}

a.navbar-brand{
    color: #087AEC;
    border-radius: 2rem;
    margin: left 10rem;
}

a.nav-link.active{
    color:#37911B;
    
}

a.nav-link{
    color:#122665;
}

header {
    position:fixed;
    background-color:#E9A722;
    width:100%;
    top:0;
    left:0;
    vertical-align: center;
    padding-top:1rem;
}

#heroImg {
    border-radius:1rem;
    padding-top:3rem;
}

.heroSection {
    position:stretch;
    padding-top: 3rem;
    left: 0;
    width: 100%;
    height: 100%;
  }

h1 {
    font-family:'Press Start 2P', cursive;
    font-size: medium;
    margin-bottom:1rem;
    color:#087AEC;
}

.nav-item {
    font-family: 'Press Start 2P', cursive;
}

h5, p {
    font-family: 'Press Start 2P', cursive;
    font-size:small;
    color:#087AEC;
    text-align:left;
}

#stardew-section {
    padding: 2rem 2rem;
    text-align: left;
    width:100%;
    border-radius:1rem;
    box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.1);
    margin-top: 3rem;
    background-color:#FFFFCC;
}

.sectionText{
    padding-top:2rem;
}

.col-lg-7{
       margin-left:13rem;
}

footer {
    border-radius:1rem;
    box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
    background-color:#FFFFCC;
}

img {
    border-radius:1rem;
}